
/* Container */
.container.signin_page {
  width: 100vw;
  height: 100vh;
}

/* ### Signin Page Main ### */
.signin_page_main {
  width: 1280px;
  height: 1070px;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
}
/* Logo */
.signin_page_login_logo {
  width: 100%;
  height: 380px;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* Login Form */
.signin_page_login_form {
  width: 100%;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Login ID Line */
.login_id_line {
  width: 414px;
  height: 75px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  border: 1px solid var(--main-green);
  border-radius: 5px;

  margin-bottom: 22px;
}
.login_id_line input[type="text"] {
  width: 100%;

  padding-left: 30px;
  
  outline: 0;
  border: none;

  font-size: 18px;
  color: var(--dark-gray);
}
.login_id_line input[type="text"]:focus {
  color: var(--black);
}
.login_id_line input[type="text"]:focus + .login_id_user_icon i {
  color: var(--black);
}
.login_id_user_icon {
  position: absolute;
  left: 10px;
}
.login_id_user_icon i {
  font-size: 18px;
  color: var(--dark-gray);
}

/* Login PW Line */
.login_pw_line {
  width: 414px;
  height: 75px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  border: 1px solid var(--main-green);
  border-radius: 5px;
}
.login_pw_line input[type="password"] {
  width: 100%;

  padding-left: 30px;
  
  outline: 0;
  border: none;

  font-size: 18px;
  color: var(--dark-gray);
}
.login_pw_line input[type="password"]:focus {
  color: var(--black);
}
.login_pw_line input[type="password"]:focus + .login_pw_user_icon i {
  color: var(--black);
}
.login_pw_user_icon {
  position: absolute;
  left: 10px;
}
.login_pw_user_icon i {
  font-size: 18px;
  color: var(--dark-gray);
}

/* Login Checkbox Wrap*/
.login_checkbox_wrap {
  width: 434px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 15px;
}
/* Login Checkbox Wrap > Keep Login */
.keep_login_box {
  position: relative;
  cursor: pointer;
}
.keep_login_box input[type="checkbox"] {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 5px;
  left: 11px;

  opacity: 0;
  cursor: pointer;
}
.keep_login_box label {
  padding-left: 10px;
  cursor: pointer;
  font-size: 18px;
}
.keep_login_box label::before {
  content: '\f058';
  font-family: fontawesome;
  width: 22px;
  height: 22px;
  color: var(--gray);
  margin-right: 5px;
  cursor: pointer;
}
.keep_login_box input[type="checkbox"]:checked + label::before {
  color: var(--main-green);
}

/* Login Checkbox Wrap > Save Id */
.save_id_box {
  position: relative;
  margin-right: 10px;

  cursor: pointer;
}
.save_id_box input[type="checkbox"] {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 5px;
  left: 11px;

  opacity: 0;
  cursor: pointer;
}
.save_id_box label {
  padding-left: 10px;
  cursor: pointer;
  font-size: 18px;
}
.save_id_box label::before {
  content: '\f058';
  font-family: fontawesome;
  width: 22px;
  height: 22px;
  color: var(--gray);
  margin-right: 5px;
  cursor: pointer;
}
.save_id_box input[type="checkbox"]:checked + label::before {
  color: var(--main-green);
}
/* Signin Page login Button */
.signin_page_login_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
}
/* Login Button */
.signin_page_login_btn {
  width: 414px;
  height: 75px;
  background-color: var(--main-green);
  color: var(--white);
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signin_page_login_find_join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_find_id_pw {
  display: flex;
  margin-top: 15px;
  margin-bottom: 66px;
  position: relative;
}
.login_find_id_pw .find_id {
  font-size: 18px;
  padding-right: 10px;
}
.login_find_id_pw .find_id a {
  padding-right: 10px;
  color: var(--dark-gray);
}
.login_find_id_pw .find_pw a {
  color: var(--dark-gray);
}
.login_find_id_pw .find_pw {
  font-size: 18px;
}
.login_find_id_pw .find_id::after{
  content: ''; 
  padding: 1px;
  background-color: var(--dark-gray);
  border-radius: 5px;
}

/* Login Join Box */
.login_join {
  color: var(--black);
  font-size: 18px;
}
.login_join a {
  color: var(--black);
  margin-left: 16px;
}

/* SNS Icon Wrap */
.signin_page_login_sns_icon_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
  margin-bottom: 50px;
}
.login_sns_tit {
  font-size: 18px;
  margin-bottom: 24px;
}
.login_sns_icon_items {
  width: 434px;
  display: flex;
  justify-content: space-around;
}
.login_sns_icon_item {
  border: 1px solid var(--main-green);
  width: 87px;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media all and (max-width: 768px) {
  .container.signin_page {
    width: 100vw;
  }
  .signin_page_main {
    width: 100%;
  }
  .signin_page_login_logo {
    width: 100%;
  }
  .login_id_line {
    width: 90%;
  }
  .login_pw_line {
    width: 90%;
  }
  .login_checkbox_wrap {
    width: 90%;
  }
  .signin_page_login_btn_wrap {
    width: 90%;
  }
  .signin_page_login_sns_icon_wrap {
    width: 90%;
  }
}