.container.user_mall {
  width: 100%;
  height: 100%;
  font-family: var(--kor);
  color: var(--black);
}


/* User_mall Main */
.user_mall_main {
  /* position: absolute;
  top: 90px; */
  /* padding-top: 90px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* User_mall Main > header */
.user_mall_header {
  width: 100%;
  height: 400px;
  background-color: rgba(114, 152, 30, 0.2);
  margin-bottom: 60px;
}
.user_mall_title {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_mall_title h3 {
  width: 1280px;
  text-align: center;
  font-size: 20px;
  font-family: var(--kor);
  color: var(--black);
}
.user_mall_banner {
  width: 1280px;
  height: calc(100% - 70px);
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}
.user_mall_banner .banner_text {
  font-family: var(--kor);
  color: var(--black);
}
.user_mall_banner .banner_text p {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}
.user_mall_banner .banner_text p span {
  display: block;
  font-weight: bold;
}
.user_mall_banner .banner_img {
  width: 400px;
  height: 300px;
  background: url('/img/user_mall_header_banner.png')no-repeat center center;
  background-size: cover;
}
.user_mall_banner .banner_img.food {
  width: 440px;
  background: url('/img/user_mall_header_banner_food.png')no-repeat center;
  background-size: cover;
}
/* User_mall Main > Section */
/* 식품, 육아용품, 산모용품 탭 */
.user_mall_section {
  width: 1280px;
}
.user_mall_menu {
  width: 100%;
  margin-bottom: 60px;

  display: flex;
  justify-content: center;
  gap: 10px;
}
.user_mall_menu li {
  display: flex;
  align-items: center;
}
.user_mall_menu li a {
  /* z-index: 3; */
  font-family: var(--kor);
  font-size: 16px;
  color: var(--gray);
}
.user_mall_menu li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: var(--gray);
  margin-left: 10px;
}
.user_mall_menu li:last-child::after {
  display: none;
}
/* 식품, 육아용품, 산모용품 탭 체크되었을때! */
.user_mall_menu li a.checked {
  color: var(--main-green);
  font-weight: bold;
}

/* user_mall_menu_title  */
.user_mall_menu_title {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 45px;
}
.user_mall_menu_title p {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
/* 추천순, 신상품순, 판매량순은 식품,육아,산모 탭 사이트에만 */
.user_mall_order {
  float: right;
  display: flex;
  gap: 10px;
}
.user_mall_order li {
  display: flex;
  align-items: center;
}
.user_mall_order li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: var(--gray);
  margin-left: 10px;
}
.user_mall_order li:nth-child(3)::after {
  display: none;
}
.user_mall_order li a {
  font-size: 14px;
  color: var(--gray);
}
/* 추천순, 신상품순, 판매량순 체크 스타일 */
.user_mall_order li a.order_checked {
  color: var(--black);
  font-weight: bold;
}
/* Hot 버튼은 유저몰 메인에만, */
.hot_button {
  display: inline-block;
  background-color: var(--red);
  color: var(--white);
  font-family: var(--eng);
  font-size: 16px;
  width: 50px;
  height: 25px;
  border-radius: 30px;
}

/* User_mall Item section */
.user_mall_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.user_mall_item {
  width: 305px;
  margin-bottom: 70px;
}
/* User_mall Item */
/* Item Image 영역 */
.user_mall_item_img {
  width: inherit;
  height: 388px;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  /* z-index: 1; */
}
.user_mall_item_img a {
  width: inherit;
  height: inherit;
}
.user_mall_item_img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 0.3s;
}
.user_mall_item_img:hover img {
  transform: scale(1.05);
}
.user_mall_item_img .organic_btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--main-green);
  padding: 10px 15px;
  border-radius: 0 0 0 20px;
  color: var(--white);
}
.user_mall_item_img .add_cart_icon_btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(114, 152, 30, 0.6);
  padding: 12px;
  color: var(--white);
  border-radius: 50%;

  cursor: pointer;
}
.user_mall_item_img .add_cart_icon_btn i {
  font-size: 18px;
}
/* Item info 영역 */
.user_mall_item_info {
  width: 100%;
}
.user_mall_item_info .hot_button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}

.user_mall_item_info .new_button {
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  background-color: var(--yellow);
  color: var(--black);
  font-family: var(--eng);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}
.item_info_desc {
  margin-top: 5px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item_title,
.item_price,
.item_sale {
  font-size: 16px;
  font-weight: bold;
}
.item_sale {
  font-size: 14px;
  color: var(--red);
}
.item_sale b {
  color: var(--gray);
  text-decoration: line-through;
}