.live_title {
  border-bottom: 1px solid var(--gray);
  padding: 15px;
}
.live_title h3 {
  font-size: 24px;
  text-align: center;
  font-family: var(--eng);
}

.lives {
  /* border: 1px solid red; */
  width: 1280px;
  margin: 30px auto;
}

.hot_live .hot_live_title {
  font-size: 24px;
  text-align: center;
  /* border-bottom: 2px solid var(--gray); */
  padding: 15px;
  margin-top: 30px;
}

/* hot_live_video */
.hot_live_video_container {
  height: 395px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.fa-chevron-left,
.fa-chevron-right {
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
}
.hot_live_videos {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 1030px;
  position: relative;
}
.hot_live_video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 237px;
  margin: 20px 10px;
  flex-shrink: 0;
  transition: left 0.15s;
}

.live_img {
  width: 237px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.hot_live_video_img img {
  width: inherit;
  border-radius: 5px;
  object-fit: cover;
  transition: 0.3s;
}
.hot_live_video:hover img {
  transform: scale(1.05);
}
.live_img .live_banner {
  width: 62px;
  padding: 5px 0;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.hot_live_video_title h3 {
  width: 237px;
  font-size: 18px;
  margin: 10px 0 5px 0;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hot_live_video_title p {
  margin: 5px 0;
  color: var(--dark-gray);
  font-size: 16px;
}
.hot_live_video_title p span {
  color: var(--main-green);
  font-size: 16px;
}
.hot_live_video_title span {
  font-size: 14px;
  color: var(--dark-gray);
}
.hot_live_video_title span i {
  color: var(--dark-gray);
  margin-right: 10px;
}
.live_container {
  border-top: 2px solid var(--gray);
  margin: 50px 0 100px 0;
  padding-top: 50px;
}
.user_mall_menu li a.on {
  color: var(--main-green);
  font-weight: bold;
}
.live_wrap_baby,
.live_wrap_mom {
  display: none;
}
.live_videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.live_wrap_baby {
  display: none;
}
.live_wrap_mom {
  display: none;
}
.schedulebtn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
  padding: 20px;
  background-color: var(--main-green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.popup-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.popup {
  width: 846px;
  height: 800px;
  border-radius: 5px;
  background-color: var(--white);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.popup i {
  float: right;
  margin: 15px;
  cursor: pointer;
}
.popup h2 {
  text-align: center;
  margin-top: 40px;
}
.popup p {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}
.popup h2 em {
  color: var(--main-green);
  font-style: normal;
}
.popup.open {
  display: block;
}
.popup.close {
  display: none;
}
.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.schedule .days {
  width: calc(846px / 5);
  border: 1px solid var(--main-green);
  margin-bottom: 30px;
}

.schedule .day {
  background-color: var(--main-green);
  padding: 1px 0;
}

.schedule .day p {
  color: var(--white);
}
.schedule .live {
  height: 250px;
  padding: 10px;
}
.schedule .live li {
  font-size: 14px;
}
.schedule .live li em {
  font-style: normal;
  font-weight: bold;
}

@media all and (max-width: 767px) {
  .live_title h3 {
    font-size: 18px;
    font-family: var(--eng);
  }

  .lives {
    width: 100vw;
  }

  .schedulebtn {
    width: 50%;
    padding: 20px;
  }
  .popup {
    width: 80%;
    height: 80%;
    overflow: scroll;
  }
  .popup h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    margin-left: 40px;
  }
  .popup p {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 14px;
  }
  .popup h2 em {
    color: var(--main-green);
    font-style: normal;
  }
  .schedule {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
  }

  .schedule .days {
    width: calc(80% / 2);
    border: 1px solid var(--main-green);
    margin-bottom: 0px;
  }
  .schedule .live {
    height: 180px;
    padding: 10px;
  }
  .schedule .live li {
    font-size: 12px;
  }
}
