.live_title {
  width: 100%;
  border-bottom: 1px solid var(--gray);
  padding: 15px;
  text-align: center;
}
.hot_live .hot_live_title {
  font-size: 24px;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
.wrap {
  overflow: hidden;
}
.lives_container {
  display: flex;
  width: 1300px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.hot_live_container {
  display: flex;
  overflow: hidden;
  /* border: 1px solid blue; */
}

.fa-chevron-left,
.fa-chevron-right {
  cursor: pointer;
  font-size: 30px;
  z-index: 10;
  margin: 0 10px;
  margin-top: 15%;
}

/* live_container */
.live_container {
  width: 1280px;
  margin: 0 auto;
  border-top: 2px solid var(--gray);
  margin-top: 50px;
  padding-top: 50px;
}
.user_mall_menu li a.on {
  color: var(--main-green);
  font-weight: bold;
}
.live_wrap_baby,
.live_wrap_mom {
  display: none;
}
.live_videos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* live_video */
.hot_live_video {
  width: 305px;
  height: 492px;
}
.hot_live_video.hot_live_v {
  margin: 0 6px;
}

.hot_live_video.hot_live_v .live_img {
  width: inherit;
}
.live_img {
  width: 100%;
  height: 388px;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
}
.live_img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 0.3s;
}
.hot_live_video:hover img {
  transform: scale(1.05);
}
.live_img .live_banner {
  width: 62px;
  padding: 5px 0;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.hot_live_video_title h3 {
  width: 100%;
  font-size: 16px;

  margin: 10px 0 5px 0;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}
.hot_live_video_title p {
  margin: 5px 0;
  color: var(--dark-gray);
  font-size: 16px;
}
.hot_live_video_title p span {
  color: var(--main-green);
  font-size: 16px;
}
.hot_live_video_title span {
  font-size: 14px;
  color: var(--dark-gray);
}
.hot_live_video_title span i {
  color: var(--dark-gray);
  margin-right: 10px;
}

/* schedule */
.schdulebtn_box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.schedulebtn {
  width: 410px;
  padding: 20px;
  background-color: var(--main-green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.popup-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.popup {
  width: 846px;
  border-radius: 5px;
  background-color: var(--white);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.popup i {
  float: right;
  margin: 15px;
  cursor: pointer;
}
.popup h2 {
  text-align: center;
  margin-top: 40px;
}
.popup p {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}
.popup h2 em {
  color: var(--main-green);
  font-style: normal;
}
.popup.open {
  display: block;
}
.popup.close {
  display: none;
}
.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.schedule .days {
  width: calc(846px / 5);
  border: 1px solid var(--main-green);
  margin-bottom: 30px;
}

.schedule .day {
  background-color: var(--main-green);
  padding: 1px 0;
}

.schedule .day p {
  color: var(--white);
}
.schedule .live {
  /* height: 250px; */
  padding: 10px;
}
.schedule .live li {
  font-size: 14px;
  margin: 10px 0;
}
.schedule .live li em {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}

@media all and (max-width: 767px) {
  .lives_container {
    width: 100vw;
  }
  .hot_lives_container {
    margin: 0 10px;
  }
  .hot_live {
    width: 100vw;
  }
  .live_container {
    width: 100vw;
  }
  .live_videos {
    width: 100vw;
    justify-content: center;
  }
  .hot_live_video {
    width: 46%;
  }
  .hot_live_video.hot_live_v {
    margin: 0 10px;
  }
  .live_img {
    width: 100%;
    height: 320px;
  }
  .fa-chevron-left,
  .fa-chevron-right {
    margin-top: 35%;
  }
  .schdulebtn_box {
    width: 100vw;
    margin: 50px 0;
  }
  .schedulebtn {
    width: 90%;
    padding: 20px;
  }
  .popup {
    width: 80%;
    height: 67%;
    overflow: scroll;
  }
  .popup::-webkit-scrollbar {
    display: none;
  }
  .popup h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    margin-left: 40px;
  }
  .popup p {
    text-align: center;
    margin: 5px 0;
    font-weight: bold;
    font-size: 14px;
  }
  .popup h2 em {
    color: var(--main-green);
    font-style: normal;
  }

  .schedule {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
  }

  .schedule .days {
    width: 50%;
    border: 1px solid var(--main-green);
    margin-bottom: 0px;
  }
  .schedule .live {
    padding: 10px;
  }
  .schedule .live li {
    font-size: 12px;
  }
}
