/* Common CSS */

/* Top Bar */
.mypage_nav {
  border-bottom: 1px solid var(--gray);
  width: 100vw;
  height: 40px;
}
.mypage_nav_wrap {
  width: 1280px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.mypage_nav_wrap a {
  font-family: var(--kor);
  color: var(--black);
  font-weight: 600;
}
.mypage_nav_wrap .mypage_nav_first {
  color: var(--main-green);
}

/* All Contents */
.mypage_contents {
  width: 1280px;
  height: calc(100vh - 407.33px);
  margin: 0 auto;
  display: flex;
  font-family: var(--kor);
  overflow: hidden;
}

/* Left Content */
.mypage_contents aside {
  width: 197px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid var(--gray);
}
.mypage_contents aside h2 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 20px;
}
.mypage_contents aside .mypage_user_info {
  border-bottom: 1px solid var(--gray);
  padding: 30px 0;
}
.mypage_contents aside .mypage_user_info_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.mypage_contents aside li:nth-child(2) {
  margin-bottom: 20px;
}
.mypage_user_info li a.mypage_user_info_select,
.mypage_user_info li a.mypage_user_info_select i {
  color: var(--main-green);
  font-weight: 600;
}
.mypage_user_info_select {
  color: var(--main-green);
  font-weight: 600;
}
/* Right Content */
.mypage_userInfo {
  width: 100%;
  height: 100%;
}
.mypage_userInfo .mypage_article {
  width: calc(100% - 127px);
  margin: 100px 0 100px 126px;
}
.mypage_article h2 {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  margin-bottom: 40px;
}
.mypage_article h2::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 8px;
  background-color: var(--sub-green);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
}
.mypage_article form {
  position: relative;
}




/* Mypage - Check */
.mypage_userInfo .mypage_userInfo_detail {
  border: 1px solid var(--main-green);
  border-radius: 5px;
  padding: 40px 0 40px 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mypage_userInfo_detail_profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.mypage_userInfo_detail_profile p {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.mypage_userInfo_detail_profile p:nth-child(2),
.mypage_userInfo_detail_profile p:nth-child(3) {
  font-size: 14px;
  margin-bottom: 0;
}
.mypage_userInfo_detail_profile span.badge {
  background-color: var(--main-green);
  color: var(--white);
  font-size: 16px;
  font-family: var(--kor);
  font-weight: bold;
  
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
}
.mypage_userInfo_detail_profile p span.name {
  font-size: 24px;
}
.mypage_userInfo_detail_profile p span.name b {
  color: var(--main-green);
}
.mypage_userInfo_detail_profile p span.user_code {
  color: var(--main-green);
  font-family: var(--eng);
  font-size: 18px;
  font-weight: 800;
}
.mypage_userInfo_detail_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mypage_userInfo_detail_item {
  width: 208px;
  height: 120px;
  text-align: center;
  border-right: 1px solid var(--main-green);
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.mypage_userInfo_detail_item:last-child {
  border-right: none;
}
.mypage_userInfo_detail_point,
.mypage_userInfo_detail_coupon,
.mypage_userInfo_detail_review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mypage_userInfo_detail_item span{
  display: inline-block;
}
.mypage_userInfo_detail_item .desc_top {
  font-size: 24px;
  font-family: var(--kor);
  font-weight: 800;
  color: var(--black);
}
.mypage_userInfo_detail_item .desc_bottom {
  font-size: 24px;
  font-family: var(--eng);
  font-weight: 700;
  color: var(--main-green);
}




/* Mypage - Edit(1) */
.mypage_userInfo_identification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mypage_userInfo_identification form p {
  font-size: 16px;
  font-weight: 400;
}
.mypage_userInfo_identification form p:nth-child(1) {
  margin-bottom: 5px;
}
.mypage_userInfo_identification form p span.highlight {
  color: var(--main-green);
  font-weight: 600;
}
.mypage_userInfo_identification table {
  margin: 20px 0;
  border-top: 2px solid var(--main-green);
  width: 650px;
  border-collapse: collapse;
}
.mypage_userInfo_identification th,
.mypage_userInfo_identification td {
  border: 1px solid var(--light-gray);
  text-align: left;
  padding: 10px 15px;
  height: 55px;
}
.mypage_userInfo_identification th {
  width: 130px;
  font-size: 16px;
  font-weight: 800;
  background-color: var(--lightest-gray);
}
.mypage_userInfo_identification td input {
  outline: none;
  width: 190px;
  padding: 5px 10px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;

  font-family: var(--eng);
}
.mypage_userInfo_identification td input::placeholder {
  color: var(--gray);
}
.mypage_userInfo_identification form .identification_btn {
  display: inline-block;
  width: 108px;
  height: 35px;
  line-height: 35px;
  text-align: center;

  background-color: var(--main-green);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;

  position: absolute;
  right: 0;
  bottom: -40px;

  cursor: pointer;
}




/* Mypage - Edit(2) */
.mypage_userInfo_edit {
  display: flex;
  flex-direction: column;
}
.mypage_userInfo_edit table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
.mypage_userInfo_edit th,
.mypage_userInfo_edit td {
  border: 1px solid var(--light-gray);
  text-align: left;
  height: 45px;
  padding: 10px;
}
.mypage_userInfo_edit th {
  width: 165px;
  font-size: 14px;
  font-weight: 800;
  background-color: var(--lightest-gray);
}
.mypage_userInfo_edit td {
  width: 595px;
  font-size: 12px;
}
.mypage_userInfo_edit td input {
  width: 186px;
  height: 27px;
  padding: 0 10px;

  outline: none;
  border: 1px solid var(--more-light-gray);
  border-radius: 5px;
  font-size: 12px;
}
.mypage_userInfo_edit td select {
  height: 27px;
  outline: none;
  border: 1px solid var(--more-light-gray);
  border-radius: 5px;

  font-size: 12px;
  text-align: center;
}
.mypage_userInfo_edit .birth {
  width: 80px;
  text-align: center;
}
.mypage_userInfo_edit .birthText {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.mypage_userInfo_edit .email {
  width: 130px;
  text-align: center;
}
.mypage_userInfo_edit input[type=radio] {
  width: 16px;
  height: 16px;
  accent-color: var(--main-green);
}
.mypage_userInfo_edit .sms {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* border 겹쳐보여서 다시 정의함 */
  border: none;
  border-right: 1px solid var(--more-light-gray);
}
.mypage_userInfo_edit .sms_yes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.mypage_userInfo_edit .sms_no {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.mypage_userInfo_edit .search {
  margin-bottom: 10px;
}
.mypage_userInfo_edit .search input {
  width: 130px;
}
.mypage_userInfo_edit button {
  padding: 5px 10px;
  font-size: 12px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--more-light-gray);
}
.mypage_userInfo_edit .address_detail {
  width: 295px;
}
.mypage_userInfo_edit .address_detail::placeholder {
  color: var(--gray);
}
.mypage_userInfo_edit #phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.mypage_userInfo_edit #phone input {
  text-align: center;
  width: 70px;
}
.mypage_userInfo_edit #chk-num {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: relative;
}
.mypage_userInfo_edit #chk-num .input-num {
  text-align: center;
  width: 239px;
  overflow: hidden;
  letter-spacing: 1px;
}
.mypage_userInfo_edit #chk-num .input-num::placeholder {
  color: var(--gray);
}
.mypage_userInfo_edit #chk-num span {
  display: inline-block;
  position: absolute;
  left: 194px;
  color: var(--red);
}
.mypage_userInfo_edit .edit-btn {
  width: 760px;
  text-align: center;
}
.mypage_userInfo_edit .editBtn {
  display: inline-block;
  width: 219px;
  height: 45px;
  line-height: 45px;
  outline: none;
  border: none;
  border-radius: 5px;

  text-align: center;
  font-size: 18px;
  background-color: var(--main-green);
  color: var(--white);
}