.footer {
  width: 100%;
  height: 275px;
}
.footer_inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Footer_Left */
.footer_left h4 {
  font-family: var(--eng);
  font-size: 24px;
  margin-bottom: 20px;
}
.footer_left h4 span {
  font-family: var(--kor);
  font-weight: bold;
}
.footer_info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: var(--dark-gray);
}

/* Footer_Right */

.footer_cs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--dark-gray);
  font-size: 18px;
  margin-bottom: 20px;
}
.cs_tel {
  font-size: 32px;
  color: var(--black);
  font-weight: bold;
}
.footer_sns_btn a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  /* color: var(--white); */
  overflow: hidden;
}
.footer_sns_btn a img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
