.item_detail {
  color: var(--black);
  font-family: var(--kor);
}
.item_detail_nav {
  width: 100vw;
  padding: 23px 0;
  border-bottom: 1px solid var(--gray);
}
.item_detail_nav p {
  margin: 0 auto;
  width: 1280px;
  font-size: 1.5rem;
  font-weight: bold;
}
.item_detail_nav p i {
  margin: 0 8px;
}
.nav_color {
  color: var(--main-green);
  font: var(--eng);
}
.item_detail_buybox {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 50px;
}
img.itemimg {
  width: 630px;
  height: 633px;
}

.item_detail_buy {
  width: 630px;
}
.buy_title {
  display: flex;
  width: 100%;
}
.buy_title h1 {
  font-size: 1.5rem;
  margin: 0 0 20px 0;
}
.buy_title .hot {
  background-color: var(--red);
  border-radius: 15px;
  width: 60px;
  color: var(--white);
  margin: 0 0 20px 0;
  text-align: center;
  font-family: var(--eng);
}
.buy_price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}
.buy_price em {
  font-size: 1.25rem;
  font-style: normal;
}
.stars {
  font-size: 1rem;
}
.stars i {
  color: var(--red);
  margin: -3px;
}
.stars span {
  margin-left: 10px;
  font-weight: 400;
}
.stars span em {
  text-decoration: underline;
}

.delivery,
.store {
  display: flex;

  margin: 30px 0;
}
.delivery .delivery_title,
.store .store_title,
.select_item .select_title {
  font-size: 14px;
  font-weight: normal;
}
.delivery .delivery_title {
  margin-right: 85px;
}
.store .store_title {
  margin-right: 70px;
}
.delivery .delivery_content,
.store .store_content {
  font-size: 14px;
  font-weight: bold;
}
.select_itemwrap {
  display: flex;
  justify-content: space-between;
}
.select_item_box {
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--gray);
}
.select_count {
  width: 522px;
  display: flex;
  justify-content: space-between;
  background-color: var(--more-light-gray);
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
}
.select_count h1 {
  font-weight: bold;
}
.select_count em {
  font-size: 14px;
  font-style: normal;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.button {
  width: 250px;
  padding: 15px 0;

  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.button.cartbtn {
  border: 1px solid var(--main-green);
  background-color: var(--white);
  color: var(--main-green);
}
.button.buybtn {
  border: none;
  background-color: var(--main-green);
  color: var(--white);
}

/*item_detail_info*/
.item_detail_info {
  margin: 0 auto;
  width: 1280px;
  margin-top: 30px;
}
.item_detail_info ul {
  background-color: var(--gray);
  display: flex;
  justify-content: space-around;
}
.item_detail_info ul li {
  padding: 25px;
}

.item_detail_info ul li a {
  color: var(--black);
  font-weight: bold;
  font-size: 18px;
}

/* item_detail */
.list_item_detail img {
  width: 100%;
}
.item_detail .explanation h2,
.item_detail .explanation h1 {
  text-align: center;
}
