.item_detail {
  color: var(--black);
  font-family: var(--kor);
  height: auto;
}
.item_detail_nav {
  width: 100vw;
  padding: 15px 0;
  border-bottom: 1px solid var(--gray);
}
.item_detail_nav p {
  margin: 0 auto;
  width: 1280px;
  font-size: 18px;
  font-weight: bold;
}
.item_detail_nav p i {
  margin: 0 8px;
  font-size: 16px;
}
.nav_color {
  color: var(--main-green);
  font: var(--eng);
}
.item_detail_buybox {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
}
img.itemimg {
  width: 630px;
}

.item_detail_buy {
  width: 630px;
}
.buy_title {
  display: flex;
  width: 100%;
}
.buy_title h1 {
  font-size: 1.5rem;
  margin: 0 10px 20px 10px;
}
.buy_title .hot_button {
  display: inline-block;
  background-color: var(--red);
  color: var(--white);
  font-family: var(--eng);
  font-size: 16px;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  text-align: center;
  margin-top: 5px;
  padding-top: 2px;
}
.buy_price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
}

.buy_price h3 {
  display: flex;
}
.buy_price em {
  font-size: 1.25rem;
  font-style: normal;
  margin-top: 5px;
}
.stars {
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 10px;
}
.stars i {
  color: var(--red);
  margin: -3px;
}
.stars span {
  margin-left: 10px;
  font-weight: 400;
}
.stars span em {
  text-decoration: underline;
}
.sharebtn {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  line-height: 48px;
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}
.sharebtn:hover {
  background-color: var(--lightest-gray);
}
.delivery,
.store {
  display: flex;
  margin: 30px 0 30px 15px;
}
.delivery .delivery_title,
.store .store_title,
.select_itemwrap .select_title {
  font-size: 14px;
  font-weight: normal;
}
.delivery .delivery_title {
  margin-right: 59px;
}
.store .store_title {
  margin-right: 45px;
}
.delivery .delivery_content,
.store .store_content {
  font-size: 14px;
  font-weight: bold;
}
.select_itemwrap {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.select_item_box {
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--gray);
}
.select_count {
  width: 522px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--more-light-gray);
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  align-items: center;
}

.count {
  width: 80px;
  height: 30px;
  background-color: var(--white);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
.count i {
  font-size: 13px;
}
.select_count h1 {
  display: flex;
  font-weight: bold;
}
.select_count em {
  font-size: 14px;
  font-style: normal;
  margin-top: 3px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.button {
  width: 250px;
  padding: 15px 0;

  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.button.cartbtn {
  border: 1px solid var(--main-green);
  background-color: var(--white);
  color: var(--main-green);
}
.button.buybtn {
  border: none;
  background-color: var(--main-green);
  color: var(--white);
}

/*item_detail_info*/
.item_detail_info {
  margin: 0 auto;
  width: 1280px;
  margin-top: 30px;
}
/* item_info_nav */

.item_info_nav {
  position: sticky;
  top: 90px;
  margin-bottom: 30px;
}
.item_info_nav ul {
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-around;
}
.item_info_nav ul li {
  padding: 25px;
}

.item_info_nav ul li a {
  color: var(--black);
  font-weight: bold;
  font-size: 18px;
  scroll-padding: 100px;
}
.item_info_nav ul li a:hover {
  color: var(--main-green);
}
/* item_detail */
.list_item_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list_item_detail img {
  width: 100%;
}

.item_detail .explanation h2 {
  font-size: 24px;
  text-align: center;
  margin: 70px 0 15px 0;
}

.item_detail .explanation h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.item_detail .explanation p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

/* certified */
.certified {
  background-color: var(--lightest-gray);
  width: 95%;
  padding: 50px;
  margin-top: 100px;
}
.certified_title {
  font-size: 32px;
  margin: 0 0 30px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}
.certified_title i {
  margin-right: 10px;

  border-radius: 50%;
  padding: 2px 4px;
}
.certified_content {
  display: flex;
  padding: 0 50px;
}
.certified_content img {
  width: 150px;
  height: 150px;
  background-color: var(--white);
  margin-right: 50px;
}
.txt_wrap h2 {
  font-size: 24px;
  margin: 15px 0;
}
.txt_wrap h1 {
  font-size: 32px;
  margin: 10px 0;
}
.txt_wrap p {
  font-size: 18px;
  margin-top: 20px;
}
/* tip */
.tip {
  width: 95%;
  margin-top: 80px;
}
.tip fieldset {
  padding: 50px;
  border: 1px solid var(--gray);
}
.tip legend {
  font-size: 32px;
  font-weight: bold;
  padding: 0 10px;
}
.tip .tip_title {
  margin-bottom: 5px;
}
.tip .tip_p {
  margin-bottom: 15px;
  line-height: 25px;
}
/* list item info */

.list_item_info h3 {
  font-size: 24px;
  text-align: center;
  margin: 200px 0 20px 0;
}
.list_item_info table {
  width: 100%;
  border-collapse: collapse;
}
.list_item_info table th {
  width: 300px;
  background-color: var(--lightest-gray);
  padding: 13px;
}
.list_item_info td {
  padding: 13px;
}
/* list_item_comment */
.list_item_comment {
  margin-bottom: 200px;
}
.list_item_comment h3 {
  font-size: 24px;
  margin: 200px 0 10px 0;
}
.list_item_comment p {
  font-size: 16px;
  margin-bottom: 30px;
}
.list_item_comment .comment .comment_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 23px;
  margin-top: 10px;
  align-items: center;
}

.list_item_comment .comment .comment_title .comment_Ltitle {
  float: left;
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-top: 30px;
}
.list_item_comment .comment .comment_title .comment_Ltitle i {
  margin-right: 5px;
}
.list_item_comment .comment .comment_title .comment_Rtitle {
  float: right;
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.list_item_comment .comment .comment_content {
  background-color: var(--more-light-gray);
  padding: 30px;
  border-radius: 0 0 5px 5px;
  display: none;
  height: auto;
}
.comment.open .comment_title {
  border-radius: 5px 5px 0 0;
}
.comment.open .comment_content {
  display: block;
}
.commentcount {
  display: flex;
  justify-content: center;
}
.commentcount span {
  margin: 20px 10px;
}
.commentcount span:hover {
  cursor: pointer;
}
.color {
  background-color: var(--main-green);
  width: 20px;
  height: 20px;
  text-align: center;
  color: var(--white);
  border-radius: 50%;
}
/* list_item_question */
.list_item_question {
  margin-bottom: 200px;
}
.list_item_question h3 {
  font-size: 24px;
  margin: 200px 0 10px 0;
}
.list_item_question p {
  font-size: 16px;
  margin-bottom: 15px;
}

.questionbtn {
  width: 250px;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--main-green);
  color: var(--white);
  font-size: 18px;
  float: right;
  margin-top: 50px;
}

/* .list_item_question table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  margin-top: 30px;
}
.list_item_question thead {
  height: 58px;
  border-top: 2px solid var(--black);
  border-bottom: 1px solid var(--black);
}
.list_item_question .title {
  width: 710px;
}
.author,
.created-date,
.status {
  width: 100px;
}
.list_item_question tbody tr {
  height: 64px;
  line-height: 19px;
  letter-spacing: -0.5px;
}
.list_item_question tbody tr td {
  border-bottom: 1px solid var(--gray);
}
.title_sub {
  padding-left: 20px;
  cursor: pointer;
}
.title_sub.lock span,
.title_sub.lock span i {
  color: var(--dark-gray);
}
.author_sub,
.created-date_sub,
.status_sub {
  text-align: center;
  color: var(--dark-gray);
}

.status_sub.complete {
  color: var(--main-green);
}

.hide {
  background-color: var(--light-gray);
  display: ;
} */

.question-list {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
}
.head {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--gray);
  padding: 20px;
}
.question:nth-child(1) {
  border-bottom: 1px solid var(--black);
}

.question p {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid red;
}

.hide {
  display: none;
}
