.item_detail {
  color: var(--black);
  font-family: var(--kor);
  height: auto;
}
.item_detail_nav {
  width: 100vw;
  padding: 15px 0;
  border-bottom: 1px solid var(--gray);
}
.item_detail_nav p {
  margin: 0 auto;
  width: 1280px;
  font-size: 18px;
  font-weight: bold;
}
.item_detail_nav p i {
  margin: 0 8px;
  font-size: 16px;
}
.nav_color {
  color: var(--main-green);
  font: var(--eng);
}
.item_detail_buybox {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
}
img.itemimg {
  width: 630px;
}

.item_detail_buy {
  width: 630px;
}
.buy_title {
  display: flex;
  width: 100%;
}
.buy_title h1 {
  font-size: 1.5rem;
  margin: 0 10px 20px 10px;
}
.buy_title .hot_button {
  display: inline-block;
  background-color: var(--red);
  color: var(--white);
  font-family: var(--eng);
  font-size: 16px;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  text-align: center;
  margin-top: 5px;
  padding-top: 2px;
}
.buy_price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 20px 10px;
}
.buy_price h3 {
  display: flex;
}
.buy_price em {
  font-size: 1.25rem;
  font-style: normal;
  margin-top: 5px;
}
.stars {
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 10px;
}
.stars i {
  color: var(--red);
  margin: -3px;
}
.stars span {
  margin-left: 10px;
  font-weight: 400;
}
.stars span em {
  text-decoration: underline;
}

.delivery,
.store {
  display: flex;
  margin: 30px 0 30px 15px;
}
.delivery .delivery_title,
.store .store_title,
.select_itemwrap .select_title {
  font-size: 14px;
  font-weight: normal;
}
.delivery .delivery_title {
  margin-right: 72px;
}
.store .store_title {
  margin-right: 60px;
}
.delivery .delivery_content,
.store .store_content {
  font-size: 14px;
  font-weight: bold;
}
.select_itemwrap {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
.select_item_box {
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--gray);
}
.select_count {
  width: 522px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--more-light-gray);
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  align-items: center;
}

.count {
  width: 80px;
  height: 30px;
  background-color: var(--white);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
.count i {
  font-size: 13px;
}
.select_count h1 {
  display: flex;
  font-weight: bold;
}
.select_count em {
  font-size: 14px;
  font-style: normal;
  margin-top: 3px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.button {
  width: 250px;
  padding: 15px 0;

  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.button.cartbtn {
  border: 1px solid var(--main-green);
  background-color: var(--white);
  color: var(--main-green);
}
.button.buybtn {
  border: none;
  background-color: var(--main-green);
  color: var(--white);
}

/*item_detail_info*/
.item_detail_info {
  margin: 0 auto;
  width: 1280px;
  margin-top: 30px;
}
/* item_info_nav */

.item_info_nav {
  position: sticky;
  top: 90px;
  margin-bottom: 30px;
}
.item_info_nav ul {
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-around;
}
.item_info_nav ul li {
  padding: 25px;
}

.item_info_nav ul li a {
  color: var(--black);
  font-weight: bold;
  font-size: 18px;
  scroll-padding: 100px;
}

/* item_detail */
.list_item_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list_item_detail img {
  width: 100%;
}
.item_detail .explanation h2 {
  font-size: 24px;
  text-align: center;
  margin: 70px 0 15px 0;
}

.item_detail .explanation h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.item_detail .explanation p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 32px;
}

/* list item info */

.list_item_info h3 {
  font-size: 24px;
  text-align: center;
  margin: 200px 0 20px 0;
}
.list_item_info table {
  width: 100%;
  border-collapse: collapse;
}
.list_item_info table th {
  width: 300px;
  background-color: var(--lightest-gray);
  padding: 13px;
}
.list_item_info td {
  padding: 13px;
}
/* list_item_comment */
.list_item_comment {
  margin-bottom: 200px;
}
.list_item_comment h3 {
  font-size: 24px;
  margin: 200px 0 10px 0;
}
.list_item_comment p {
  font-size: 16px;
  margin-bottom: 15px;
}
.list_item_comment .comment .comment_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 23px;
  margin-top: 10px;
  align-items: center;
}

.list_item_comment .comment .comment_title .comment_Ltitle {
  float: left;
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-top: 15px;
}
.list_item_comment .comment .comment_title .comment_Ltitle i {
  margin-right: 5px;
}
.list_item_comment .comment .comment_title .comment_Rtitle {
  float: right;
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.list_item_comment .comment .comment_content {
  background-color: var(--more-light-gray);
  padding: 30px;
  border-radius: 0 0 5px 5px;
  display: none;
  height: auto;
}

.comment.open .comment_content {
  display: block;
}
/* list_item_question */
.list_item_question {
  margin-bottom: 200px;
}
.list_item_question h3 {
  font-size: 24px;
  margin: 200px 0 10px 0;
}
.list_item_question p {
  font-size: 16px;
  margin-bottom: 15px;
}
.questionbtn {
  width: 305px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-green);
  color: var(--white);
  font-size: 18px;
  float: right;
}
