@import url("/css/reset.css");
@import url("/css/variable.css");

@import url("/css/header.css");
@import url("/css/mail_itemdetail.css");
@import url("/css/footer.css");
header iframe {
  position: fixed;
  width: 100%;
  height: 200px;
  border: none;
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid var(--gray);
  background-color: var(--white);
}
main {
  padding-top: 90px;
}
footer iframe {
  width: 100%;
  height: 100%;
  border: none;
}
footer {
  width: 100%;
  height: 275px;
  font-family: var(--kor);
  color: var(--black);
}
