@import url("/css/reset.css");
@import url("/css/variable.css");

@import url("/css/header.css");
@import url("/css/mall_itemdetail.css");
@import url("/css/07-live.css");
@import url("/css/04-usermall.css");
@import url("/css/04-usermall-mobile.css");
@import url("/css/08-mypage.css");
@import url("/css/footer.css");


header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid var(--gray);
  background-color: var(--white);
}
main {
  padding-top: 90px;
}

footer {
  position: absolute;
  float: bottom;
  width: 100%;
  height: 275px;
  font-family: var(--kor);
  border-top: 1px solid var(--gray);
  color: var(--black);
  border-top: 0.5px solid var(--gray);
}
