@import url("/css/reset.css");
@import url("/css/variable.css");

@import url("/css/header.css");
@import url("/css/mail_itemdetail.css");

iframe {
  position: fixed;
  width: 100%;
  height: 100%;
  border: none;
}
main {
  position: absolute;
  top: 90px;
}
